---
title:  Only for :free
layout: template-logo-small
target:
 - :free
---

# <%= current_page.data.title %>

This page is only available to the `:free` target, and no other target will make
this page available during build or while running the server.

This is accomplished by using the `target` key in the
[front matter](frontmatter.html) data, and specifying only the `:free` target.

~~~ erb
---
title:  Only for :free
layout: template-logo-small
target:
 - :free
---
~~~

Note that `target` is a YAML array; you can include multiple `target` targets
and/or features here.
{:.note}

<% content_for :seeAlso do %>
<ul>
<li><a href="index.html">Welcome to middleman-targets</a></li>
<li><a href="simple-demo.html">Simple features demonstration</a></li>
<li><a href="build-serve-targets.html">Build and Serve different targets</a></li>
<li><a href="target-feature-config.html">Configuration</a></li>
<li><a href="helpers-resources.html">Helpers and Resources</a></li>
<li><a href="frontmatter.html">Front Matter</a></li>
<li><a href="cli.html">Command Line Interface</a></li>
</ul>
<% end %>
