= wrap_layout ('layout'.to_sym) do
  .container-logo-medium
    %div
      .yield-content
        ~ yield

    %div
      %div
        = image_tag 'all-logo-small.png', :alt => 'middleman-targets logo'
      .related_topics

        - if content_for?(:seeAlso)
          %h1 See Also
          = yield_content :seeAlso
